[submodule "uCOS-III-Simulator"]
	path = RTOS/uCOS-III-Simulator
	url = ../uCOS-III-Simulator.git
[submodule "uCOS-III-STM32F4"]
	path = RTOS/uCOS-III-STM32F4
	url = ../uCOS-III-STM32F4.git
[submodule "Embedded-Sharepoint"]
	path = Embedded-Sharepoint
	url = ../Embedded-Sharepoint.git
